<div class="cart-content"></div>


<script>
    async function getCart(){
        const cartRequest = await fetch(window.Shopify.routes.root + 'cart.js');
        const cart = await cartRequest.json();

        return cart;
    }

    async function addToCart(variantId, quantity) {
        const addToCartRequest = await fetch('/cart/add.js', {
            method: "POST",
            header: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                items: [
                    {
                        id: variantId,
                        quantity: quantity,
                    },
                    {
                        id: 43123285098565,
                        quantity: 2,
                    }

                ]
            })
        })

        window.location.reload();
    }

    async function ajaxAPI(){

    }
    ajaxAPI();
</script>


{% schema %}
    {
        "name": "Ajax API",
        "presets": [
            {
                "name": "Ajax API"
            }
        ]
    }
{% endschema %}