<div class="cart-content"></div>


<script>
    async function getCart(){
        const cartRequest = await fetch(window.Shopify.routes.root + 'cart.js');
        const cart = await cartRequest.json();

        return cart;
    }

    async function addToCart(variantId, quantity) {
        const addToCartRequest = await fetch('/cart/add.js', {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                items: [
                    {
                        id: variantId,
                        quantity: quantity,
                        properties: {
                            'test': 'test'
                        }
                    },

                ],
                attributes: {
                    'cart_test': 'cart test attribute',
                },
                note: 'This is a test note',
            })
        })

        window.location.reload();
    }

    async function updateCart() {
        const LINE_ITEM_KEY = "43123285098565:6d5c8c7d07cb271fa81e23a45d178fd3";

        const response = await fetch('/cart/update.js', {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                updates: {
                    [LINE_ITEM_KEY]: 5
                },
                attributes: {
                    cart_test: ' UPDATED cart test attribute',
                },
                note: 'UPDATED This is a test note',
            })
        });

        const cart = await response.json();
        console.log('Cart updated:', cart);

        window.location.reload();
    }

    async function changeCart() {
        const VARIANT_ID = "43123285098565";

        const response = await fetch('/cart/change.js', {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                id: VARIANT_ID,
                quantity: 4,
                properties: {
                    test: "test updated",
                    test2: "new value",
                },
            }),
        });

        const cart = await response.json();
        console.log('Cart changed:', cart);

        window.location.reload();
    }


    async function ajaxAPI(){

    }
    ajaxAPI();
</script>


{% schema %}
    {
        "name": "Ajax API",
        "presets": [
            {
                "name": "Ajax API"
            }
        ]
    }
{% endschema %}