<div class="w-full">
    <p>{{ section.settings.products_per_row }}</p>
    <all-products>
        <div class="grid grid-cols-3 gap-4" style="--items-per-row; {{ section.settings.products_per_row }}">
            {% for product in collections.all.products limit:section.settings.products_per_row %}
                {% render 'card-product', card_product: product %}
            {% endfor %}
        </div>

        <button class="button">Load More</button>
    </all-products>
</div>
{% schema %}
    {
        "name": "All Products",
        "settings": [
            {
                "type": "number",
                "id": "products_per_row",
                "label": "Products Per Row"
            }
        ],
        "presets": [
        {
            "name": "All Products"
        }
        ]
    }
{% endschema %}