<div class="w-full">
    <p>{{ section.settings.products_per_row }}</p>
    <all-products>
        <div class="grid">

        </div>
        <button class="button">Load More</button>
    </all-products>
</div>
{% schema %}
    {
        "name": "All Products",
        "settings": [
            {
                "type": "number",
                "id": "products_per_row",
                "label": "Products Per Row"
            }
        ],
        "presets": [
        {
            "name": "All Products"
        }
        ]
    }
{% endschema %}