<h2>Dynamic Metaobject</h2>
<p>{{ shop.metaobjects.craftsperson[section.settings.metaobject_handle].name }}</p>
<div>{{ shop.metaobjects.craftsperson[section.settings.metaobject_handle].bio | metafield_tag }}</div>



{% schema %}
    {
        "name": "Dynamic Metaobject",
        "class": "w-full",
        "settings": [
            {
                "type": "text",
                "label": "Metaobject Handle",
                "id": "metaobject_handle"
            }

        ],
        "presets": [
            {
                "name": "Dynamic Metaobject"
            }
        ]
    }
{% endschema %}