<h1>{{ metaobject.name }}</h1>
<p>{{ section.settings.section_message }}</p>

{% for product in collections.all.products %}
    {% if product.metafields.custom.craftsperson.value.system.handle == metaobject.system.handle %}
        <p>{{ product.title }}</p>
    {% endif %}
{% endfor %}



{% schema %}
    {
        "name": "Metaobject Section",
        "settings": [
            {
                "type": "text",
                "label": "Section Message",
                "id": "section_message"
            }
        ],
        "presets": [
            {
                "name": "Metaobject Section"
            }
        ]
    }
{% endschema %}