<p>hello world</p>
<h2>Text Setting</h2>

<p>{{ section.settings.text_setting }}</p>

{% schema %}
    {
        "name": "Sections Tutorial",
        "tag": "section",
        "class": "section-tutorial",
        "limit": 2,
        "settings": [
            {
                "type": "text",
                "id": "text_setting",
                "label": "Theme Setting",
                "default": "This is my first setting",
                "info": "This is some helper text"
            }
        ],
        "blocks": [],
        "presets": [
            {
                "name": "Sections Tutorial",
                "settings": {}
            }
        ]
    }
{% endschema %}